.page {
  height: 100vh;
}

.news-img {
   position: relative;
   width: 100%; /* for IE 6 */
   align-items: center;
}

.article-description {
  background-color: black;
  color: white;
  padding: 2%;
  /*font-size: 200%;*/
  height: 10VH;
}

.news-img img{
  height: 100%;
  width: 100%;
}

.news-img .news-article {
   position: absolute;
   bottom: 0%;
   width: 100%;
   padding-bottom: 3%;
   padding-top: 3%;
   left: 0;
   color: white;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.7);
}

.page_container {
  height: 90VH;
}

.appbody {
  background-color: gray;
}

a {
  text-decoration: none;
  color: #d8d8d8;
  text-align: center;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #A7A7A7;



}

/*.navBar {
  filter: alpha(opacity=50);
}*/
.navbar-brand {
  /*background-color: #696969;*/
}

.nav-item {
  display: inline-block;
}

.stuff {
  width: 100%;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
  padding-top: 15px;
}



.stuff:hover {
  background-color: red;
}

.email-component {
  padding-top: 10%;
  padding-bottom: 10%;

}

.sports {
  padding-top: 5%;
}


.log-in {
  float: right;
}

.logincontainer {
  padding-top: 10%;
}

h1 {
  margin: 0;
  padding: 0;
}
html, body, .app {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}

.popup {
  position: absolute;
  margin-left: 80%;
  width: 20%;
  top: 5%;
  height: 50%;
  background-color: #F53C3C;
}

.popup_inner {
  position: absolute;
  width: 90%;
  top: 30%;
  left: 5%;
  bottom: 25%;
  padding-top: 25%;
  margin: auto;
  background-color: #F54949;
}

/* Countdown styles */
.countdown{
  height: 35%;
  text-align: center;
  background: #222;
  background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
  background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
  background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
  background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  margin-bottom: 1%;
  padding: 24px 0;
  /*position: absolute;*/
  top: 0; bottom: 0; left: 0; right: 0;
}

.countdown:before{
  content:"";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: block;
  position: absolute;
  top: 48px; left: -10px;
}

.countdown:after{
  content:"";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;
  position: absolute;
  top: 48px; right: -10px;
}

.countdown .tiles{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 50%;
}

.countdown .tiles > span{
  width: 20%;
  max-width: 92px;
  font: bold 140% 'Droid Sans', Arial, sans-serif;
  text-align: center;
  color: #111;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #bbb, #eee);
  background-image:    -moz-linear-gradient(top, #bbb, #eee);
  background-image:     -ms-linear-gradient(top, #bbb, #eee);
  background-image:      -o-linear-gradient(top, #bbb, #eee);
  border-top: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  margin: 2%;
  padding: 2%;
  display: inline-block;
  position: relative;
}

.countdown .tiles > span:before{
  content:"";
  width: 100%;
  height: 13px;
  background: #111;
  display: block;
  padding: 0 3px;
  position: absolute;
  top: 41%; left: -3px;
  z-index: -1;
}

.countdown .tiles > span:after{
  content:"";
  width: 100%;
  height: 1px;
  background: #eee;
  border-top: 1px solid #333;
  display: block;
  position: absolute;
  top: 48%; left: 0;
}

.countdown .labels{
  width: 100%;
  height: 25px;
  text-align: center;
  /*position: absolute;*/
  bottom: 8px;
}

.countdown .labels li{
  width: 20%;
  font: bold 100% 'Droid Sans', Arial, sans-serif;
  color: #f47321;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
}

.movie {
  display:inline-block;
  position: relative;
  height: 50%;
}

.movie h2{
  text-align: center;
}

.photoimg{
  margin: 0 auto;
  /*width: 100%;*/
}

/*sports*/
.standings{
  column-count: 2;
}

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 66%; right: 66%; width: 33%; background: #F53C3C; color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: #F54949; transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

.login-button {
  position: relative;
  align-items: center;
  justify-content: center;
  display:flex;
}

/*Sign-Up-Form-CSS-Najah*/


.form-control {
    height: auto!important;
    padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 400px;
  /*padding-top: 50px;*/
    padding: 10px 40px;
	background:#FF4C4C;
	    color: #FFF;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
.sign-up {
  /*padding-top: 10%;*/
  padding-bottom: 10%;
  margin: 25px;
}

/*End-of-SignUp*/

/*#homepage-sign-up {
    position: absolute;
    right: 10%;
    float: right;
    top: 1%;
}

#homepage-login {
  position: absolute;
  right: 2%;
  float: right;
  top: 1%;
  width: 8%;
}*/

.homepage-nav {
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  left: 90%;
  float:right;
  height: 50px;
  background-color: #F53C3C;
  top: 10%;

}

.homepage-nav:hover {
  background-color: #F54949;
}

.signup-button-word{
  text-align: center;
  margin-top: 25%;

}

.login-button-word{
  text-align: center;
  margin-top: 35%;

}


.user-form {
  padding-top: 5%;
  background-color: white;
}
/*carousel*/
.slick-initialized.slick-slider {
  width: 90% !important;
  margin: 0 auto !important;
}

.movies-page-container .slick-initialized.slick-slider {
  width: 50% !important;
  margin: 0 !important;
  margin-left: 7% !important;
  height: 70VH;
}

/*tabs*/
.tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-menu-item {
  float: left;
  margin-right: 20px;
}

.tabs-menu-item a {
  cursor: pointer;
  display: block;
  color: #A9A9A9;
}

.tabs-menu-item:not(.is-active) a:hover,
.tabs-menu-item.is-active a {
  color: #3498DB;
}

.tab-panel {
  padding: 10px 50px;

}

.react-tabs {
  /*background-color: white;*/
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  text-align: center;
}

.sports-page-container .react-tabs__tab {
  /*background-color: white;*/
  background-color: ForestGreen ;
  color: white;
}

.news-page-container .react-tabs__tab {
  /*background-color: white;*/
  background-color: RoyalBlue;
  color: white;
}

.sports-page-container .react-tabs__tab--selected {
  /*background-color: white;*/
  background-color: DarkGreen !important;
}

.news-page-container .react-tabs__tab--selected {
  /*background-color: white;*/
  background-color: DarkBlue !important;
}

.react-tabs__tab-list{
  border: none !important;
}
/*page containers*/

.sports-page-container {
  background-image: url("/images/sports-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100VH;
}

.news-page-container {
  background-image: url("/images/news-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100VH;
}

.podcasts-page-container {
  background-image: url("/images/podcasts-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100VH;
}

.movies-page-container {
  background-image: url("/images/movies-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100VH;
}



.horizontal-scroll-wrapper {
  float: right;
  padding-left: 75%;

}


.custom-search-input {
        margin:0;
        padding-left: 80%;
    }

.search-query {
  left: 80%;
}
/*scoreboard*/
.hometeam {
  display: inline-block;
  padding: 2%;
}

.awayteam {
  display: inline-block;
  padding: 2%;
}

.scoreboard {
  display: inline-block;
  padding: 2%;
}

.entire-scoreboard {
  text-align: center;
  background-color: DarkGreen;
  color: white;
  font-weight: bold;
}

.complete-scoreboard {
  margin: 2%;
}

table {
  color: black;
  width: 100%;
  background-color: white;
}

tr th{
  border: solid 1px;
  text-align: center;
}

.quarters {
  text-align: center;
  background-color: Gainsboro;
}

.quarter {
  width: 20%;
  border: solid 1px;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}

.innings {
  text-align: center;
  background-color: Gainsboro;
}

.inning {
  width: 10%;
  border: solid 1px;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}

.periods {
  text-align: center;
  background-color: Gainsboro;
}

.period {
  width: 25%;
  border: solid 1px;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}

/*games*/
/*.games {
  margin: 0 auto;
}*/

.news-icon{
  height:60px;
  width:60px;
}

.news-list {
  align:center;
  min-width: 200px;
  display: inline-block;
}

