.page {
  height: 100vh;
}

.news-img {
   position: relative;
   width: 100%; /* for IE 6 */
}
.news-img .news-article {
   position: absolute;
   bottom: 0%;
   padding-bottom: 3%;
   padding-top: 3%;
   left: 0;
   width: 70%;
   background-color: rgba(0, 0, 0, 0.7);
}

.page_container {
  height: 90VH;
}

.appbody {
  background-color: gray;
}

a {
  text-decoration: none;
  color: #d8d8d8;
  text-align: center;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #A7A7A7;

}

/*.navBar {
  filter: alpha(opacity=50);
}*/
.navbar-brand {
  /*background-color: #696969;*/
}

.nav-item {
  display: inline-block;
}

.stuff {
  width: 100%;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
  padding-top: 15px;
}

.homepage-nav {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
  padding-top: 15px;
}

.homepage-nav:hover {
  background-color: red;
}



.stuff:hover {
  background-color: red;
}

.email-component {
  padding-top: 10%;
  padding-bottom: 10%;

}

.sports {
  padding-top: 5%;
}


.log-in {
  float: right;
}

.logincontainer {
  padding-top: 10%;
}

h1 {
  margin: 0;
  padding: 0;
}
html, body, .app {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}

.popup {
  position: absolute;
  margin-left: 78%;
  margin-right: 2%;
  width: 20%;
  height: 50%;
  background-color: rgba(0,0,0, 0.5);
}

.popup_inner {
  position: absolute;
  width: 90%;
  top: 30%;
  left: 5%;
  bottom: 25%;
  padding-top: 25%;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
/* Countdown styles */
.countdown{
  width: 40%;
  height: 35%;
  text-align: center;
  background: #222;
  background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
  background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
  background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
  background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  margin-bottom: 1%;
  padding: 24px 0;
  /*position: absolute;*/
  top: 0; bottom: 0; left: 0; right: 0;
}

.countdown:before{
  content:"";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: block;
  position: absolute;
  top: 48px; left: -10px;
}

.countdown:after{
  content:"";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;
  position: absolute;
  top: 48px; right: -10px;
}

.countdown .tiles{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 50%;
}

.countdown .tiles > span{
  width: 20%;
  max-width: 92px;
  font: bold 200% 'Droid Sans', Arial, sans-serif;
  text-align: center;
  color: #111;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #bbb, #eee);
  background-image:    -moz-linear-gradient(top, #bbb, #eee);
  background-image:     -ms-linear-gradient(top, #bbb, #eee);
  background-image:      -o-linear-gradient(top, #bbb, #eee);
  border-top: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  margin: 2%;
  padding: 2%;
  display: inline-block;
  position: relative;
}

.countdown .tiles > span:before{
  content:"";
  width: 100%;
  height: 13px;
  background: #111;
  display: block;
  padding: 0 3px;
  position: absolute;
  top: 41%; left: -3px;
  z-index: -1;
}

.countdown .tiles > span:after{
  content:"";
  width: 100%;
  height: 1px;
  background: #eee;
  border-top: 1px solid #333;
  display: block;
  position: absolute;
  top: 48%; left: 0;
}

.countdown .labels{
  width: 100%;
  height: 25px;
  text-align: center;
  /*position: absolute;*/
  bottom: 8px;
}

.countdown .labels li{
  width: 20%;
  font: bold 100% 'Droid Sans', Arial, sans-serif;
  color: #f47321;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
}

.movie {
  position: relative;
}
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

.login-button {
  position: relative;
  align-items: center;
  justify-content: center;
  display:flex;
}
